/**
!/.gitignore

!/alacritty/
!/alacritty/**
alacritty/themes

!/gammastep/
!/gammastep/**

!/hypr/
!/hypr/**

!/i3status-rust/
!/i3status-rust/**

!/ly/
!/ly/**

!/nvim/
!/nvim/**

!/scripts/
!/scripts/**

!/sway/
!/sway/**

!/swaylock/
!/swaylock/**

!/wezterm/
!/wezterm/**

!/wofi/
!/wofi/**

!/zathura/
!/zathura/**

!/zed/
!/zed/**

!/zsh/
!/zsh/**
